Repository tapdata/docs, pull requests merged in 2023-08, with the labels that each got.

#106 Release V3.3
  docs/cloud/prerequisites/config-database/certified/mysql.md
  docs/enterprise/faq/operation.md
  docs/enterprise/images/connect_redis.png
  docs/enterprise/images/export_api_docx.png
  docs/enterprise/images/import_export_api.png
  docs/enterprise/images/share_mining_alert_settings.png
  docs/enterprise/images/upgrade_check_server.png
  docs/enterprise/prerequisites/certified/mysql.md
  docs/enterprise/release-notes.md
  docs/enterprise/user-guide/advanced-settings/share-mining.md
  docs/enterprise/user-guide/data-console/daas-mode/create-daas-task.md
  docs/enterprise/user-guide/data-pipeline/data-development/process-node.md
  docs/enterprise/user-guide/data-pipeline/verify-data.md
  docs/enterprise/user-guide/data-service/create-api-service.md
  static/img/check_and_filter_data.png
  static/img/create_cache_task.gif
Labels: enhancement, Tapdata On-Prem

#108 Fix build error
  docs/cloud/prerequisites/config-database/README.md
  docs/cloud/prerequisites/config-database/certified/mysql.md
  docs/cloud/user-guide/trouble-shooting-connection.md
Labels: bug fix, Tapdata Cloud

#105 Best practice: Excel sync to MySQL
  docs/cloud/best-practice/files-as-source/README.md
  docs/cloud/best-practice/files-as-source/excel-to-mysql.md
  docs/cloud/images/data_develop_excel.png
  docs/cloud/images/data_develop_excel_advanced_settings.png
  docs/cloud/images/data_develop_excel_result.png
  docs/cloud/images/data_develop_mysql_target.png
  docs/cloud/images/excel_data_sample.png
  docs/cloud/images/load_excel_schema.png
  docs/enterprise/best-practice/excel-to-mysql.md
  sidebars.js
Labels: Tapdata Cloud

#109 Update Agent Management
  docs/cloud/billing/purchase.md
  docs/cloud/billing/refund.md
  docs/cloud/faq/agent-installation.md
  docs/cloud/faq/support.md
  docs/cloud/images/agent_free.png
  docs/cloud/images/agent_list.png
  docs/cloud/images/agent_related_tasks.png
  docs/cloud/user-guide/manage-agent.md
Labels: Tapdata Cloud

#112 Fix Broken Links
  docs/cloud/best-practice/files-as-source/excel-to-mysql.md
Labels: bug fix, Tapdata Cloud

#113 71 docs iframe
  docusaurus.config.js
  static/js/iframe.js
Labels: Tapdata Cloud

#114 Fix broken links
  docs/cloud/best-practice/files-as-source/excel-to-mysql.md
Labels: Tapdata Cloud

#115 Update Elasticsearch Connection Guide
  docs/cloud/images/elasticsearch_connection_setting.png
  docs/cloud/prerequisites/alpha/README.md
  docs/cloud/prerequisites/alpha/database/adb-mysql.md
  docs/cloud/prerequisites/alpha/saas/README.md
  docs/cloud/prerequisites/beta/README.md
  docs/cloud/prerequisites/beta/database/README.md
  docs/cloud/prerequisites/beta/database/dmdb.md
  docs/cloud/prerequisites/beta/file/README.md
  docs/cloud/prerequisites/beta/saas/README.md
  docs/cloud/prerequisites/certified/README.md
  docs/cloud/prerequisites/on-prem-databases/elasticsearch.md
  docs/enterprise/images/elasticsearch_connection_setting.png
  docs/enterprise/user-guide/connect-database/alpha/connect-elasticsearch.md
Labels: Tapdata Cloud, Tapdata On-Prem

#120 Add GaussDB Connection Tutorial
  docs/cloud/images/connect_gaussdb.png
  docs/cloud/prerequisites/warehouses-and-lake/gaussdb.md
  sidebars.js
Labels: Tapdata Cloud
