Repository tapdata/docs, pull requests merged in 2024-06, with the labels that each got.

#195 Release 3.7.0
  docs/prerequisites/others/dummy.md
  docs/release-notes/release-notes-cloud.md
  docs/release-notes/release-notes-community.md
  docs/release-notes/release-notes-on-prem.md
  sidebars.js
Labels: Release

#193 Compare TapData Editions
  README-CN.md
  README.md
  docs/introduction/compare-editions.md
  docs/quick-start/install/README.md
  docs/what-is-tapdata.md
  sidebars.js
Labels: Tapdata Cloud, Tapdata Enterprise, Tapdata Community

#198 Release 3.8.0
  docs/release-notes/release-notes-cloud.md
  docs/release-notes/release-notes-community.md
  docs/release-notes/release-notes-on-prem.md
Labels: Release

#199 Update TiDB Connection Tutorial
  docs/images/tidb_connection_setting.png
  docs/prerequisites/on-prem-databases/tidb.md
Labels: Data Sources

#171 add a new product - tapdb
  docs/tapdb/administration/README.md
  docs/tapdb/administration/backups.md
  docs/tapdb/administration/production-notes.md
  docs/tapdb/appendix/README.md
  docs/tapdb/appendix/compatibility.md
  docs/tapdb/appendix/install-on-ubuntu-v4.md
  docs/tapdb/appendix/license.md
  docs/tapdb/images/collection.svg
  docs/tapdb/images/json_example.svg
  docs/tapdb/installation/README.md
  docs/tapdb/installation/install-on-redhat-v6.md
  docs/tapdb/introduction/README.md
  docs/tapdb/introduction/db-collection.md
  docs/tapdb/introduction/document.md
  docs/tapdb/what-is-tapdb.md
  docs/what-is-tapdata.md
  docusaurus.config.js
  i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  sidebars.js
Labels: WIP
